/* Слайдер */
// .slick-slider{}
/* Слайдер запущен */
// .slick-slider.slick-initialized{}
/* Слайдер с точками */
// .slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.slider {
  min-width: 0;
}

.slider-item {
  text-align: center;
}
/* Слайд */
// .slick-slide{}
/* Слайд активный (показывается) */
// .slick-slide.slick-active{}
/* Слайд основной */
// .slick-slide.slick-current{}
/* Слайд по центру */
// .slick-slide.slick-center{}
/* Клонированный слайд */
// .slick-slide.slick-cloned{}
/* Стрелка */
// .slick-arrow{}
/* Стрелка влево */
// .slick-arrow.slick-prev{}
/* Стрелка вправо */
// .slick-arrow.slick-next{}
/* Стрелка не активная */
// .slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slick-dots li {
  position: relative;
  list-style: none;
  width: 12px;
  height: 12px;
  &:not(:last-child) {
    margin-right: 10px;
  }
  &::before {
    display: block;
  }
}
/* Активная точка */
.slick-dots li.slick-active {
  width: 13px;
  background-image: url('../images/images/gallery/post/Vector.svg');
  & button {
    visibility: hidden;
  }
}

/* Элемент точки */
.slick-dots li button {
  position: absolute;
  font-size: 0;
  outline: none;
  border: transparent;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #d9d9d9;
}
