<div class="backdrop-buy is-hidden" data-modal3>
    <div class="modal-buy-now">
        <form action="" class="calculator-form">
        <button type="button" class="modal-close-btn" data-modal-close3>
            <svg class="about-icon-close">
                <use href="./images/sprite.svg#about-icon-close"></use>
            </svg>
            </button>
            <div class="calculator-form-input">
                <label for="calculator-form-website-type" class="calculator-form-title">Ice cream weight</label>
                <select name="website-type" id="calculator-form-kg" class="calculator-form-select">
                    <option value="10KG:600$">10KG</option>
                    <option value="20KG:1000$">20KG</option>
                    <option value="50KG:2000$">50KG</option>
                    <option value="100KG:3000$" selected>100KG</option>
                    <option value="500KG:2000$">500KG</option>
                    <option value="1000KG:4000$">1000KG</option>
                </select>
            </div>
        
            <div class="calculator-form-input">
                <label for="calculator-form-cream" class="calculator-form-title">Choose the flavor of your ice cream </label>
                <select name="technologies" id="calculator-form-cream" class="calculator-form-select" multiple>
                    <option value="Chocolate:300$" selected>Chocolate</option>
                    <option value="mintSprig:400$" selected>MintSprig</option>
                    <option value="caramel:500$" selected>Сaramel</option>
                    <option value="Vanilla:700$">Vanilla</option>
                    <option value="Pistachio:700$">Pistachio</option>
                    <option value="Neapolitan:1000$">Neapolitan</option>
                </select>
            </div>
        
            <div class="calculator-form-input" id="calculator-form-shopping-cart">
                <label for="" class="calculator-form-title">Do you want delivery?</label>
        
                <div class="calculator-form-input-radio-container" id="calculator-form-input-cart">
                    <input type="radio" class="calculator-form-input-field" id="calculator-form-input-cart-yes" name="cart"
                        value="yes" checked />
                    <label for="calculator-form-input-cart-yes" class="calculator-form-input-label">Yes</label>
        
                    <input type="radio" class="calculator-form-input-field" id="calculator-form-input-cart-no" name="cart"
                        value="no" />
                    <label for="calculator-form-input-cart-yes" class="calculator-form-input-label">No</label>
                </div>
            </div>
        
            <div class="calculator-form-input" id="calculator-form-email">
                <label for="" class="calculator-form-title">Do you want to buy on credit?</label>
        
                <div class="calculator-form-input-radio-container" id="calculator-form-input-reception">
                    <input type="radio" class="calculator-form-input-field" id="calculator-form-input-reception-yes"
                        name="reception" value="yes" checked />
                    <label for="calculator-form-input-cart-yes" class="calculator-form-input-label">Yes</label>
        
                    <input type="radio" class="calculator-form-input-field" id="calculator-form-input-reception-no"
                        name="reception" value="no" />
                    <label for="calculator-form-input-cart-yes" class="calculator-form-input-label">No</label>
                </div>
            </div>
        
            <div class="calculator-form-input">
                <p class="calculator-form-total">Cost:</p>
                <p class="calculator-form-total-cost">300$</p>
            </div>
        
            <input type="submit" value="Find out the cost  —" class="main-button main-button-red" />
        </form>
    </div>
    
</div>